:root {
  --cor-neutra-bg: #111111;
  --cor-neutra2-bg: #ffffff;
  --cor-texto: #ffffff;
  --cor-cinza: #3b3b3b;
  --cor-cinza2: #2f2f2f;
  --cor-roxo: #8090ff;
  --cor-roxo2: #5a45fe;
  --cor-roxo3: #2d18d6;
  --cor-roxo4: #4f4980;
  --cor-roxo5: #807ba8;
  --cor-verde: #d2f801;
  --cor-vermelho: #fe5045;
  --cor-vermelho2: #c71910;
  --box-shadow: rgba(17, 17, 17, 0.2);
}

.dark-mode:root {
  --cor-neutra-bg: #ffffff;
  --cor-neutra2-bg: #111111;
  --box-shadow: rgba(255, 255, 255, 0.2);
}
.dark-mode:root .nav__list-box {
  border-right: 0.1rem solid var(--cor-roxo);
}
.dark-mode:root .nav__item a {
  color: #f3f3f3;
}
.dark-mode:root .nav__item a svg path {
  fill: var(--cor-neutra-bg);
}
.dark-mode:root .nav__item a:hover {
  color: var(--cor-neutra-bg);
  background: var(--cor-roxo2);
}
.dark-mode:root .nav__item a:hover svg path {
  fill: var(--cor-neutra-bg);
}
.dark-mode:root .nav__item-usuario p {
  color: var(--cor-roxo);
}
.dark-mode:root .nav__btn svg path {
  fill: #ffffff;
}
.dark-mode:root .adicionarLista-box,
.dark-mode:root .editarLista-box {
  border: 0.1rem solid var(--cor-roxo);
}
.dark-mode:root .adicionarLista-box h1,
.dark-mode:root .editarLista-box h1 {
  color: var(--cor-roxo);
}
.dark-mode:root .lista__item .checkbox-campo input:checked ~ .descricao:before {
  background-image: url("/img/checkboxChecked-Dark.svg");
}
.dark-mode:root .lista__item .checkbox-campo .descricao:before {
  background-image: url("/img/checkbox-Dark.svg");
}
.dark-mode:root input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.dark-mode:root .inputTarefa,
.dark-mode:root .modal input {
  color: #ffffff;
  background: #3b3b3b;
}
.dark-mode:root .lista {
  background: #2f2f2f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: var(--cor-neutra-bg);
  background-color: var(--cor-neutra2-bg);
  transition: 0.2s;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 190rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  z-index: 10;
  background: var(--cor-neutra2-bg);
  box-shadow: 0 0.2rem 0.4rem var(--box-shadow);
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 4%;
  position: relative;
}

.nav__btn,
.btnTrocarTema {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: var(--cor-neutra-bg);
  border: none;
  cursor: pointer;
  background: none;
}

.nav__btn-fechar {
  display: none;
}
.nav__list-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1rem;
  z-index: 20;
  width: 28rem;
  height: 100vh;
  transition: all 0.3s;
  border-right: 0.1rem solid var(--cor-roxo2);
  background: var(--cor-neutra2-bg);
}
.nav__list {
  margin: 7rem 4rem 0 4rem;
  position: relative;
}
.nav__btn-fechar {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  background: none;
  border: none;
}
.nav__item-usuario h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.nav__item-usuario p {
  color: var(--cor-roxo2);
  font-size: 1.2rem;
  margin-bottom: 4rem;
  font-weight: 500;
}
.nav__item-usuario p .me {
  font-weight: 700;
  font-size: 1.2rem;
}
.nav__item {
  margin-bottom: 0.2rem;
}
.nav__item a {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 1.5rem;
  font-size: 1.6rem;
  padding: 1rem 1rem 1rem 1rem;
  color: var(--cor-cinza2);
  border-radius: 0.5rem;
  font-weight: 500;
}
.nav__item a:hover {
  color: var(--cor-neutra2-bg);
  background: var(--cor-roxo2);
}
.nav__item a:hover svg path {
  fill: var(--cor-neutra2-bg);
}
.nav.ativo .nav__list-box {
  pointer-events: auto;
  display: block;
  box-shadow: 0rem 0 0 1000rem rgba(17, 17, 17, 0.7);
}
.nav.ativo .nav__btn-fechar {
  display: block;
}
.nav.ativo .nav__btn {
  display: none;
}

.temaClaro {
  display: none;
}

.temaEscuro {
  display: block;
}

.dark-mode .temaClaro {
  display: block;
}
.dark-mode .temaEscuro {
  display: none;
}

.main {
  padding: 9rem 7% 5rem 7%;
}
.main__lista-add {
  display: flex;
  justify-content: end;
  margin-bottom: 5rem;
}
.main__lista-add button {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  letter-spacing: 0.1rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.5rem;
  color: var(--cor-texto);
  background: var(--cor-roxo2);
  transition: 0.3s;
}
.main__lista-add button:hover {
  background-color: var(--cor-roxo3);
}
.main__listas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  justify-content: center;
  gap: 6rem;
}

.lista {
  height: 37rem;
  box-shadow: 0 0.2rem 0.4rem var(--box-shadow);
  border-radius: 0.5rem;
  overflow-y: auto;
}
.lista__nome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1.5rem 1.5rem;
  gap: 1.5rem;
  color: var(--cor-texto);
  background: var(--cor-roxo4);
}
.lista__nome h1 {
  font-size: 2rem;
  font-weight: 500;
}
.lista__nome img {
  cursor: pointer;
}
.lista__add {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem 1.5rem 3rem;
}
.lista__add input {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--cor-neutra2-bg);
  outline: 0.15rem solid var(--cor-roxo5);
}
.lista__add input:focus, .lista__add input:hover {
  outline-width: 0.2rem;
  outline-color: var(--cor-roxo2);
}
.lista__add button {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--cor-texto);
  background: var(--cor-roxo2);
  transition: 0.3s;
}
.lista__add button:hover {
  background-color: var(--cor-roxo3);
}
.lista__conteudo {
  padding: 0 0 1.5rem 1.5rem;
}
.lista__item {
  display: flex;
  position: relative;
  align-items: start;
  gap: 1.5rem;
  font-size: 1.6rem;
}
.lista__item .checkbox-campo input {
  display: none;
}
.lista__item .checkbox-campo input:checked ~ .descricao:before {
  background-image: url("/img/checkboxChecked.svg");
}
.lista__item .checkbox-campo .descricao:before {
  content: "";
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  background-image: url("/img/checkbox.svg");
  transition: 0.3s;
}
.lista__item p {
  padding: 0 6.4rem 4.5rem 0;
  line-height: 1.5;
  word-break: break-all;
}
.lista__item.concluido p {
  text-decoration: line-through;
}
.lista__item svg {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1.5rem;
  display: block;
  cursor: pointer;
}
.lista__item svg:hover path {
  transition: 0.3s;
  fill: var(--cor-vermelho2);
}
.lista__item .linha {
  display: block;
  position: absolute;
  bottom: 3rem;
  width: calc(100% - 1.5rem);
  height: 0.2rem;
  background: var(--cor-roxo5);
}

@media screen and (max-width: 500px) {
  .main__listas {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  }
}
.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  z-index: 30;
  background: rgba(17, 17, 17, 0.7);
}

.adicionarLista,
.editarLista {
  display: none;
}
.adicionarLista.modal-aberto,
.editarLista.modal-aberto {
  display: grid;
}
.adicionarLista.modal-aberto .adicionarLista-box,
.adicionarLista.modal-aberto .editarLista-box,
.editarLista.modal-aberto .adicionarLista-box,
.editarLista.modal-aberto .editarLista-box {
  animation: modal 0.3s;
}
.adicionarLista-box,
.editarLista-box {
  margin: 1rem 2rem;
  max-width: 40rem;
  width: 90%;
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--cor-neutra2-bg);
  border: 0.1rem solid var(--cor-roxo2);
  position: relative;
}
.adicionarLista h1,
.editarLista h1 {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--cor-roxo2);
  margin-bottom: 4rem;
  position: relative;
}
.adicionarLista h1::before,
.editarLista h1::before {
  content: "";
  display: block;
  width: 3.5rem;
  height: 0.3rem;
  background: var(--cor-verde);
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}
.adicionarLista input,
.editarLista input {
  width: 100%;
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  outline: 0.15rem solid var(--cor-roxo5);
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.adicionarLista input:hover, .adicionarLista input:focus,
.editarLista input:hover,
.editarLista input:focus {
  outline-width: 0.2rem;
  outline-color: var(--cor-roxo2);
}
.adicionarLista .adicionar,
.adicionarLista .trocarNomeLista,
.adicionarLista .deletarLista,
.editarLista .adicionar,
.editarLista .trocarNomeLista,
.editarLista .deletarLista {
  width: 100%;
  font-size: 1.7rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--cor-roxo2);
  color: var(--cor-texto);
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.adicionarLista .adicionar:hover,
.adicionarLista .trocarNomeLista:hover,
.adicionarLista .deletarLista:hover,
.editarLista .adicionar:hover,
.editarLista .trocarNomeLista:hover,
.editarLista .deletarLista:hover {
  background-color: var(--cor-roxo3);
}
.adicionarLista .deletarLista,
.editarLista .deletarLista {
  margin-top: 2rem;
  color: var(--cor-vermelho);
  border: 0.1rem solid var(--cor-vermelho);
  background: none;
}
.adicionarLista .deletarLista:hover,
.editarLista .deletarLista:hover {
  background-color: var(--cor-vermelho);
  color: var(--cor-neutra2-bg);
}
.adicionarLista .fecharModal,
.editarLista .fecharModal {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate3d(25%, -25%, 0);
  padding: 1rem;
  cursor: pointer;
  background-color: var(--cor-neutra2-bg);
  border: 0.2rem solid var(--cor-vermelho);
  border-radius: 50%;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(-6rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.areaNotificacao {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 23rem;
  height: 11.4rem;
  overflow-y: hidden;
  z-index: 100;
}

.notificacao {
  top: 1.5rem;
  left: 1.5rem;
  padding: 1.5rem 1.5rem;
  width: 23rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  color: var(--cor-roxo2);
  background: var(--cor-texto);
  border: 0.2rem solid var(--cor-roxo2);
  border-left: 1rem solid var(--cor-roxo2);
  animation: notificacao 0.4s;
  font-weight: 700;
}
.notificacaoMax, .notificacaoNome {
  border-color: var(--cor-vermelho);
  color: var(--cor-vermelho);
}

@keyframes notificacao {
  from {
    opacity: 0;
    transform: translateX(-6rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
