:root {
  --cor-neutra-bg: #111111;
  --cor-neutra2-bg: #ffffff;
  --cor-texto: #ffffff;
  --cor-cinza: #3b3b3b;
  --cor-cinza2: #2f2f2f;
  --cor-roxo: #6672fe;
  --cor-roxo2: #5a45fe;
  --cor-roxo3: #2d18d6;
  --cor-roxo4: #4f4980;
  --cor-roxo5: #807ba8;
  --cor-verde: #d2f801;
  --cor-vermelho: #fe5045;
  --cor-vermelho2: #d62318;
  --box-shadow: rgba(17, 17, 17, 0.2);
}
.dark-mode:root {
  --cor-neutra-bg: #ffffff;
  --cor-neutra2-bg: #111111;
  --box-shadow: rgba(255, 255, 255, 0.3);
  .nav__item a {
    color: #f3f3f3;
    &:hover {
      color: #f3f3f3;
      svg path {
        fill: var(--cor-neutra-bg);
      }
    }
  }
  .modal {
    input {
      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .adicionar {
      color: #ffffff;
    }
  }
  svg path {
    fill: #ffffff;
  }
  .addTarefa {
    color: #ffffff;
  }
  .inputTarefa,
  .modal input {
    color: #ffffff;
    background: #3b3b3b;
  }
  .lista {
    background: #2f2f2f;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  color: var(--cor-neutra-bg);
  background-color: var(--cor-neutra2-bg);
}
img {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 160rem;
}
