.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  z-index: 30;
  background: rgba(17, 17, 17, 0.7);
}
.adicionarLista,
.editarLista {
  display: none;
  &.modal-aberto {
    display: grid;
  }
  &-box {
    margin: 1rem 2rem;
    max-width: 40rem;
    width: 90%;
    padding: 2rem;
    border-radius: 0.5rem;
    background: var(--cor-neutra2-bg);
    border: 0.1rem solid var(--cor-roxo2);
    position: relative;
  }
  h1 {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--cor-roxo2);
    margin-bottom: 4rem;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 3.5rem;
      height: 0.3rem;
      background: var(--cor-verde);
      position: absolute;
      bottom: -0.5rem;
      left: 0;
    }
  }
  input {
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    outline: 0.15rem solid var(--cor-roxo5);
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    &:hover,
    &:focus {
      outline-width: 0.2rem;
      outline-color: var(--cor-roxo2);
    }
  }
  .adicionar,
  .trocarNomeLista,
  .deletarLista {
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--cor-roxo2);
    color: var(--cor-texto);
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
    &:hover {
      background-color: var(--cor-roxo3);
    }
  }
  .deletarLista {
    margin-top: 2rem;
    color: var(--cor-vermelho);
    border: 0.1rem solid var(--cor-vermelho);
    background: none;
    &:hover {
      background-color: var(--cor-vermelho);
      color: var(--cor-neutra2-bg);
    }
  }
  .fecharModal {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(25%, -25%, 0);
    padding: 1rem;
    cursor: pointer;
    background-color: var(--cor-neutra2-bg);
    border: 0.2rem solid var(--cor-vermelho);
    border-radius: 50%;
  }
}
