$cor-preto: #111111;
$cor-cinza: #727272;
$cor-cinza2: #2F2F2F;
$cor-azul: #556e8a;
$cor-azul2: #2d4561;
$cor-branco: #ffffff;
$cor-roxo: #6672fe;
$cor-roxo2: #5a45fe;
$cor-roxo3: #2d18d6;
$cor-verde: #d2f801;
$cor-vermelho: #fe5045;
$cor-vermelho2: #d62318;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  color: $cor-preto;
  background-color: $cor-preto;
}
img {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 160rem;
  margin: 0 auto;
}
