.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  z-index: 20;
  background: var(--cor-neutra2-bg);
  box-shadow: 0 .2rem .4rem var(--box-shadow);
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 4%;
  }
}
.nav__btn, .sair {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    color: var(--cor-neutra-bg);
    border: none;
    cursor: pointer;
    background: none;
}
.sair{
    font-size: 1.8rem;
    color: var(--cor-vermelho);
}
