.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  z-index: 10;
  background: var(--cor-neutra2-bg);
  box-shadow: 0 0.2rem 0.4rem var(--box-shadow);
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 4%;
    position: relative;
  }
}
.nav__btn,
.sair {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: var(--cor-neutra-bg);
  border: none;
  cursor: pointer;
  background: none;
}
.sair {
  font-size: 1.8rem;
  color: var(--cor-vermelho);
}

.nav {
  &__btn-fechar {
    display: none;
  }
  &__list-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1rem;
    z-index: 20;
    width: 28rem;
    height: 100vh;
    transition: all 0.3s;
    background: var(--cor-neutra2-bg);
  }
  .nav__list {
    margin: 7rem 4rem 0 4rem;
  }
  .nav__btn-fechar {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    background: none;
    border: none;
  }
  .nav__item-usuario h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 4rem;
    .user-roxo {
      color: var(--cor-roxo2);
      font-weight: 500;
    }
  }
  .nav__item {
    margin-bottom: 0.2rem;
    a {
      display: flex;
      align-items: center;
      justify-self: start;
      gap: 1.5rem;
      font-size: 1.6rem;
      padding: 1rem 1rem 1rem 1rem;
      color: var(--cor-cinza2);
      border-radius: 0.5rem;
      font-weight: 500;
      &:hover {
        color: var(--cor-neutra2-bg);
        background: var(--cor-roxo2);
        svg path {
          fill: var(--cor-neutra2-bg);
        }
      }
    }
  }
  &.ativo {
    .nav__list-box {
      pointer-events: auto;
      display: block;
      box-shadow: 0rem 0 0 1000rem rgba(17, 17, 17, 0.6);
    }
    .nav__btn-fechar {
      display: block;
    }
    .nav__btn {
      display: none;
    }
  }
}
